#chartContainer svg{
  border: 1px solid steelblue;
  opacity: 0;
  animation: fadein .4s 50ms linear forwards;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #f1f1f1;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.x_axis, .y_axis{
  stroke: #f1f1f1;
  fill: none;
  stroke-width: 0.5;

}

ol ul{
  float:left;
}

.none{
  display:none;
}

@keyframes fadein{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#actions li{
  float:left;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 0px;
}

#error{
  color: #ee5f5b;
  margin-bottom: 0;
}

#dataTable{
  opacity: 0;
  animation: fadein 0.4s 50ms linear forwards;
}


h2{
  margin-top: 0;
  opacity: 0;
  animation: fadein 0.4s 50ms linear forwards;
}
