{% extends 'pkr_user/base.html' %}
{% load staticfiles %}

{% block links %}
<link rel = "stylesheet" href="{% static "pkr_user/dashboard.css" %}"/>
{% endblock %}

{% block script_block %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
  var items = null; // List of items in the user's inventory

  function getItems() {
    fetch('/items', {credentials: "include"}) // endpoint should return a list of js objects with 2 attributes for each:
                                              // name (the name of the item) and
                                              // id (the id number of the item)
    .then(res => res.json())
    .then(items => {
      var list = document.getElementById("itemsContainer") // clear out the list if it exists already
      while (list.firstChild)
        list.removeChild(list.firstChild);

      items.arr.forEach((item) => {                    // for each item returned, make a div to be added to the sidebar
        var row = document.createElement("div");
        row.id = item.id;
        row.classList.add("itemRow");
        row.appendChild(document.createTextNode(item.name));
        row.href = "#";
        row.addEventListener('click', e => loadChart(parseInt(row.id, 10))); // when div clicked, connect to server to get information needed to build chart

        link = document.createElement("a")
        link.appendChild(row)
        list.appendChild(link)
      });
    });
  }

  function loadChart(id) {
    // Make a call to the endpoint to get info about an item and use that info to generate/display chart and put it in #chartDiv
    // for now, just printing the id of the item clicked
    fetch('/request_items?id=' + id, {credentials: "include"})
    .then(res => res.json())
    .then(res => {
      var list = document.getElementById("chartContainer") // clear out the list if it exists already
      while (list.firstChild)
        list.removeChild(list.firstChild);
        var margin = {top: 30, right: 20, bottom: 30, left: 50},
            width = 600 - margin.left - margin.right,
            height = 270 - margin.top - margin.bottom;

        // Parse the date / time
        var parseDate = d3.time.format("%Y-%m-%d").parse;

        // Set the ranges
        var x = d3.time.scale().range([0, width]);
        var y = d3.scale.linear().range([height, 0]);

        // Define the axes
        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(5);

        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(5);

        // Define the line
        var valueline = d3.svg.line()
            .x(function(d) { return x(d.dateRecord); })
            .y(function(d) { return y(d.quantity); });

        // Adds the svg canvas
        var svg = d3.select("#chartContainer")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                      "translate(" + margin.left + "," + margin.top + ")");

        // Get the data
        console.log(res.output)
        data = res.output;
            data.forEach(function(d) {
                d.dateRecord = parseDate(d.dateRecord);
                d.quantity = +d.quantity;
            });

            // Scale the range of the data
            x.domain(d3.extent(data, function(d) { return d.dateRecord; }));
            y.domain([0, d3.max(data, function(d) { return d.quantity; })]);

            // Add the valueline path.
            svg.append("path")
                .attr("class", "line")
                .attr("d", valueline(data));

            // Add the X Axis
            svg.append("g")
                .attr("class", "x_axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            // Add the Y Axis
            svg.append("g")
                .attr("class", "y_axis")
                .call(yAxis);

        });
    console.log(id)
  }
  console.log("ok")
  window.addEventListener('load', e => getItems()); // get list when page is loaded
</script>
{% endblock %}

{% block body_block %}
<div class="container content row">
  <h1 style="margin-left: auto;">Dashboard</h1>
  <div style="text-align:center; position: relative; max-width:384px; margin: 0 auto;">
    <div style="border-left: 1px solid #eee; width: 1px; position: absolute; left: 45px; height: 100%;"></div>
  </div>
  <br>
  <div id="itemsContainer" class="col-md-3">
    <div>Placeholder</div>
  </div>
  <div id="chartContainer" class="col-md-8">
    <div id="chartDiv"></div>
  </div>
</div>
{% endblock %}
