{% extends "pkr_user/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
  <div class="jumbotron" id="welcome-banner">
    <center>
    	{% if user.is_authenticated %}
        	<h4>Welcome back, {{ user.username }}!</h3>
    	{% else %}
        	<h4>Register now to see what PKR can do for you.</h3>
    	{% endif %}
    </center>
  </div>
  <div class="jumbotron">
    <center>
        <img src="{% static "pkr_user/logo.png" %}" class = "logo" alt="logo" />
        <h2>Inventory Management Made Simple</h2>
    </center>
  </div>
  <div class="jumbotron">
    <center>
        <h2>Feature Rich</h2>
	<h4>Real-Time Updates ✔</h4>
	<h4>Price Comparisons ✔</h4>
	<h4>Data Reports ✔</h4>
    </center>
  </div>
  <div class="jumbotron">
      <h3>Manage anytime, anywhere.</h3>
      <h4>No matter where life takes you, your inventory will always be a click away.</h4>
  </div>
</div>

{% endblock %}
