{% extends "pkr_user/base.html" %}
{% load staticfiles %}
{% block links %}
<link rel = "stylesheet" href="{% static "pkr_user/home.css" %}"/>
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="jumbotron" id="welcome-banner">
    <center>
    	{% if user.is_authenticated %}
        	<h4>Welcome back, {{ user.username }}!</h3>
    	{% else %}
        	<h4>Register now to see what PKR can do for you.</h3>
    	{% endif %}
    </center>
  </div>
  <div class="jumbotron">
    <center>
        <h1>PKR</h1>
        <h2>Inventory Management Made Simple</h2>
    </center>
  </div>
  <div class="jumbotron">
    <center>
        <h2>Feature Rich</h2>
	<h3>Price Comparisons</h3>
	<h3>Data Reporting</h3>
    </center>
  </div>
  <div class="jumbotron">
      <h3>Manage anytime, anywhere.</h3>
      <h4>As long as you can connect to the internet, you can connect to your
 inventory. </h4>
  </div>
</div>

{% endblock %}
