{% extends "pkr_user/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Welcome to the PKR family!</h1>
      {% else %}
        <h2>Thanks for considering PKR!</h2>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
        <div class = "container">
        {% for field in user_form.visible_fields %}
          <div class = "form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
          </div>
          {% endfor %}
        </div>
        <div class = "container">
        {% for field in customer_form.visible_fields %}
          <div class = "form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
          </div>
        {% endfor %}
        </div>
        <div class = "container">
          <input type="submit" name="" class = "btn btn-primary" value="Register">
        </div>
        </form>
      {% endif %}

    </div>

  </div>

{% endblock %}
